[submodule "zsh/zplugin/bin"]
	path = zsh/zplugin/bin
	url = https://github.com/zdharma/zplugin.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/custom/fzf"]
	path = zsh/custom/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
